*{
    margin: 0;padding: 0;block-size: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #191815;
}


.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blueviolet;
    position: relative;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    100%{
        rotate: 360deg;
    }
}

.circle::before{
    content: "";
    height: 180px;
    width: 180px;
    background-color: #191815;
    position: absolute;
    border-radius: 50%;
}

.circle::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: -16px;
    box-shadow: 0px 0px 14px 6px blue;
}